/*общие настройки*/
	body{
		padding: 0;
		margin: 0;
		background: #F0F3F3;/*цвет фона*/
	}
	.basic {
		padding: 0;
		margin: 0;	
		color: #1B3E91;
		text-align: left;
		text-shadow: 0px 0px 2px #FFFFFF;
		text-indent: 20px; 
		font-family: Calibri;
		font-size: 14pt;
		font-weight: bold;
	}
	/*списки*/
	ul{
		margin: 0;
	}
	ul li{
		list-style: square url(img/cornflowers_marker.png);
		text-align: left;
	}
	/*текст*/
	.text div{
		margin-top: 130px;
	}
	.text > div{
		padding: 0 30px;
	}
	.text h1,
	.text h2{
		padding: 0;
		padding-top: 20px;
		margin: 0;
		color: #245850;
		text-shadow: 0px 0px 3px #FFFFFF, 1px 1px 6px #8DB4D8;
		text-align: center;
		font-size: 28pt;
	}
	.text h2 {
		font-size: 20pt;
	}
	.text p{
		padding: 0;
		margin: 0;
	}
	/*изображения*/
	.text img{
		max-width: 60%;
		border: #245850 10px solid;
		display: block;
		margin: 30px;
		padding: 5px;
	}
	.imgRight{
		float: right;
	}
	.imgLeft{
		float: left;
	}
	/*стрелка наверх*/
	.arrowUp{
		position: fixed;
		bottom: 0;
		right: 0;
		display: none;
	}
	/*ссылки*/
	a{
		color: #245850;
		text-decoration: none;
		font-style: italic;
	}
	a:hover{
		text-decoration: underline;
	}
	a:active{
		text-shadow: 0px 0px 3px #FFFFFF, 1px 1px 6px #8DB4D8;
	}
	/*меню*/
	.menu img{
		-object-fit: contain;
		height: 30px;
		float: left;
	}
	.menu{
		width: 100%;
		position: fixed;
		top: 0px;
		z-index: 2;
		height: 60px;
		background: #1B3E91;
		font-size: 16pt;
		font-family: fantasy;
		font-weight: normal;
		text-shadow: none;
		text-indent: 0; 
	}
	.menu > ul{
		padding: 0;
		margin: 0;
		display: block;	
	}
	.menu > ul > li{
		float: left;
		position: relative;
		list-style:none;/*маркера нет*/
		text-align: center;
	}
	.menu > ul > li > a{
		display: block;
		padding: 5px;
		margin: 10px;
		height: 30px;
		color: #8DB4D8;
		border: 1px solid #8DB4D8;
		border-radius: 20px; 
		text-decoration: none;
		font-style: normal;
	}
	/*раздел меню в моб. версии*/
	#titleLink{
		display: none;
	}
	/*подменю*/
	.submenu {
		z-index: 3;
		padding:0 0 20px 0;
	    background-color: #1B3E91;
	    font-size: 12pt;
	}
	.submenu > li{
		list-style: none;/*маркера нет*/
	    text-align: left;
	}
	.submenu > li > a {
	    display: block;
	    color: white;
	    padding: 10px;
	    text-decoration: none;
		font-style: normal;
	}
	.submenu > li > a > div {
		padding: 0px;
		margin: 0px;
	}
	/*при наведении мыши*/
	.menu > ul> li:hover > a{
		border-color: white;
	}
	/*активный раздел меню*/
	.activeLink > a > div{
		color: white;
	}
	.menuBottom{
		width: 100%;
		position: fixed;
		top: 60px;
		z-index: 1;
		height: 70px;
		background-image: url(img/cornflowers_top.png);
		background-repeat: repeat;
		background-size: contain;
	}
	/*подвал сайта*/
	.pageFooter{
		display: table;
		width: 100%;
		padding: 0px;
		margin-top: 30px;
	
	}
	.pageFooter > div{
		background-color: #497ABD;
		border-top: 1px solid #497ABD;
		margin-top: 20px;
	}
	.pageFooter > div > div{
		background-color: #497ABD;
		padding: 10px 30px 30px 30px;
		margin-top: 10px;
		text-shadow: none;
		text-align: left;
		text-indent: 0;
		font-size: 11pt;
		font-weight: normal;
		color: white;
		border-top: 5px solid #1B3E91;
	}
@media (min-width: 550px){
	/*меню*/
	.menu > ul > li{
		width: 25%;
	}
	/*подменю*/
	.submenu {
		position: absolute;
		display: none;
		width: 80%;
	    top: 50px;
	    left: 10%;
	    margin: 0px;
	    border: 1px solid white;
	    border-radius:  20px 0;
	}
	/*при наведении мыши*/
	.menu > ul> li:hover > ul.submenu {
    	display: block;
	}
	.submenu > li:hover > a{
		color: #8DB4D8;
	}
}
@media (min-width: 770px){
	/*изображения en_centaurea_cyanus*/
	#img_ecc_2{
		width: 35%;
	}
}
@media (max-width: 770px) and (min-width: 550px){
	/*меню*/
	.menu{
		height: 120px;
	}
	.menu > ul > li{
		width: 50%;
	}
	.menuBottom{
		top: 120px;
	}
	.text div{
		margin-top: 190px;
	}
	/*изображения en_centaurea_cyanus*/
	#img_ecc_2{
		width: 40%;
	}
}
@media (max-width:550px){
	/*всегда видимый раздел меню*/
	#titleLink{
		display:  block;
		color: white;
	}
	/*меню*/
	.menu > ul > li{
		width: 100%;
	}
	/*подменю*/
	.submenu {
		padding: 0;
	}
	.submenu > li > a{
		display: none;
		color: #8DB4D8;
		margin-left: 20%;
	}
	/*при наведении мыши*/
	.submenu > li:hover > a{
		text-decoration: underline;
	}
	/*меню свернуто js*/
	.closeMenu > ul > li > a{
		display: none;
	}
	/*меню развернуто js*/
	.openMenu {
		height: 320px;
	}
	.openMenu  > ul > li > a{ 
		display: block;
	}
	.openMenu #mainLink{
		display:  block;
	}
	
	.closeMenuBottom{
		top: 60px;
	}
	.openMenuBottom{
		top: 320px;
	}
	
	.closeMenu_text{
		margin-top: 130px;
	}
	.openMenu_text{
		margin-top: 390px;
	}
}
